.raport-container {
    max-width: 900px;
    min-width: 600px;
    max-height: fit-content;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px; 
    justify-content: center;
    align-items: center;
    
    
}

.charts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    margin-top: 100px; 
    
}

.raports-charts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.single-chart-container {
    border: 5px solid black;
    border-radius: 10px;
    min-width: 100%;
}



.logo-raports {
    max-width: 100%;
    max-height: 100%; 
    margin: auto; 
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    min-width: 100%;
    min-height: 100%;
}

